<form class="organization-form pure-form pure-form-stacked" {{action "save" on="submit"}}>
    {{input type="text" name="name" value=organization.name}}
    <input type="submit" name="submit" value="Save">
</form>
